.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.calContainer {
    display: grid;
    grid-template-rows: repeat(1, 2fr);
    gap: 10px;
    width: 300px;
    background-color: #eceff1;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.input input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.buttonDiv {
    display: grid;
    
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 05px;
}
.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    grid-gap:05px;
}
.btn {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    background-color: #b0a2c4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#equaltobtn{
    grid-column: span 2;
}
h1{
    text-decoration: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-weight: bolder;
    font-size: 30px;
}